<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost/gameservice"
                binding="netTcpBinding"
                contract="GameService.Library.IGameService"
                name="GameServiceEndPoint" />
    </client>
  </system.serviceModel>
</configuration>